<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maradona Morais">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">

    <title>Download para Chrome</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">


    <script src="/assets/js/modernizr.js"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("878a0412acf91d7050ba0018a7fd81e3");
mixpanel.track("page view");</script>
    <!-- end Mixpanel -->
  </head>

  <body>

  <% include ../partials/header %>

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Baixar extensão para Google Chrome</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-6">
	 			<img class="img-responsive" src="/assets/img/chrome_app.png" alt="">
	 		</div>

	 		<div class="col-lg-6">
		 		<h4>O que há na extensão do Atom Player?</h4>
		 		<p>A extensão do Atom Player permite que você receba, diretamente no seu navegador, notificações sobre o lançamento
         de novos episódios nos podcasts que você segue na nossa aplicação. Com ele, você será o primeiro a escutar o episódio
       esperado.</p>
        <p><b>IMPORTANTE</b> A extensão do Atom Player não está disponível na loja oficial de extensões do Google Chrome.
        Para utilizar você deverá instalar manualmente. Mas calma, é bem simples! Siga estes passos:</p>
        <p>
          <ol>
            <li>Clique no botão 'Download' abaixo e aguarde o arquivo ser baixado.</li>
            <li>Abra o Gerenciador de Extensões do Google Chrome (copie e cole <a  href="chrome://extensions/">chrome://extensions/</a> em uma nova aba).</li>
            <li>Arraste e solte o arquivo baixado, com a extensão .crx, no Gerenciador de Extensões.</li>
            <li>Por fim, autorize a instalação.</li>
          </ol>
        </p>
        <p>E pronto! Agora você tem o Atom Player no seu navegador. </p>
 				<p><br/><a href="/extension/chrome.crx" target="_blank"  class="btn btn-theme">Download</a></p>
	 		</div>
	 	</div>
	 </div>

	<% include ../partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/retina-1.1.0.js"></script>
	<script src="/assets/js/jquery.hoverdir.js"></script>
	<script src="/assets/js/jquery.hoverex.min.js"></script>
	<script src="/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="/assets/js/jquery.isotope.min.js"></script>
  	<script src="/assets/js/custom.js"></script>


  </body>
</html>
