<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O mais moderno player online de podcasts! Conecte-se e siga os seus podcasts favoritos.">
    <meta name="author" content="Maradona Morais">
    <meta name="keywords" content="atom player, podcast radio, podcast online, podcast, podcast player, rss, feed, escute">
    <link rel="shortcut icon" href="assets/ico/favicon.ico" type="image/x-icon">

    <link rel="publisher" href="https://plus.google.com/112995887239802312621">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@PlayerAtom" />
    <meta name="twitter:title" content="Atom Player para podcasts" />
    <meta name="twitter:description" content="Escute online seus podcasts favoritos." />
    <meta name="twitter:image" content="assets/img/card.png" />

    <meta property="og:locale" content="pt_BR">
    <meta property="og:title" content="Atom Player para podcasts">
    <meta property="og:site_name" content="Atom Player">
    <meta property="og:description" content="O mais moderno player online de podcasts! Conecte-se e siga os seus podcasts favoritos">
    <meta property="og:image:type" content="image/png">
  	<meta property="og:image:width" content="640">
  	<meta property="og:image:height" content="404">
  	<meta property="og:image" content="assets/img/card.png">
    <meta property="fb:app_id" content="653393811477462">

    <title>Atom Player</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebPage",
      "name": "Atom Player para podcasts",
      "breadcrumb": "Home",
      "description": "O mais moderno player online de podcasts! Conecte-se e siga os seus podcasts favoritos."
    }
    </script>

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("878a0412acf91d7050ba0018a7fd81e3");
mixpanel.track("page view");</script>
    <!-- end Mixpanel -->
  </head>

  <body>

  <% include ./partials/header %>

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container-fluid">
			<div class="row">

				<div class="col-lg-8 col-lg-offset-2">
					<h3>Siga seus podcasts favoritos</h3>
					<h1>Atom Player é totalmente online e grátis.</h1>

					<h3 class="hidden-xs">
						<a href="/player/browse"><button class="btn btn-default">Acessar o Atom Player</button></a>
						<a href="/download/chrome"><button class="btn btn-default">Extensão para Chrome</button></a>
					</h3>
					<h5><b>No browser, no smarthphone, onde você quiser.</b></h5>
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
	 <div id="service">
	 	<div class="container">
 			<div class="row centered">
 				<div class="col-md-4">
 					<i class="fa fa-headphones"></i>
 					<h4>Podcast online</h4>
 					<p>Escute qualquer podcast online e siga-os para receber notificações com o gerenciador de conteúdos do Atom Player.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-download"></i>
 					<h4>Escute offline</h4>
 					<p>Baixe os seus podcasts para escutar onde você for: No trânsito, no trabalho, em qualquer lugar.</p>
 				</div>
 				<div class="col-md-4">
 					<i class="fa fa-play"></i>
 					<h4>Playlist</h4>
 					<p>Crie suas playlists personalizadas, com diversos conteúdos juntos.</p>
 				</div>
	 		</div>
	 	</div><!--/container -->
	 </div><!--/service -->

	<!-- *****************************************************************************************************************
	 PORTFOLIO SECTION
	 ***************************************************************************************************************** -->
	 <div id="android-banner">
     <a href="https://medium.com/@atom_player/em-breve-atom-para-android-d4ceae123bf3#.ds94td72s" target="_blank" title="Em breve... Atom para Android">
       <img src="assets/img/banner-android-soon.png" class="img-responsive">
     </a>
	 </div><!--/Portfoliowrap -->


	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-4 col-lg-offset-1">
		 		<img src="assets/img/logo_br.png" width="200" class="img-responsive">
		 		<center><h4>Atom Player</h4></center>
		 		<p>O Atom Player está sendo desenvolvido para criar uma cultura de podcasts no Brasil. O objetivo é levar os podcasts de forma acessível para as mais diversas plataformas e lugares, tornando-os acessíveis à qualquer pessoa conectada. Em breve o Atom Player estará disponível para mobile e desktop.</p>
	 		</div>

	 		<div class="col-lg-6">
        <h3>O que os usuários dizem?</h3>
	 			<div class="hline"></div>
	 			<p><h4>"O Atom tem fila de reprodução, algo que nem os players pagos possuem. Isso é muito bom"</h4>Tiago Faustino</p>
        <hr>
        <p><h4>"Adorei. Agrega todo o conteúdo e fica mais fácil encontrar podcasts"</h4>Thiago Roehrs</p>
        <div class="hline"></div>
        <p>Sua opinião é importante para a gente! Envie e-mail para <b>contato@atomplayer.com.br</b>.</p>
	 		</div>


	 	</div><!--/row -->
	 </div><!--/container -->


   <% include ./partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
  	<script src="assets/js/custom.js"></script>


    <script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';

		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}

		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());

		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);
		}

		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});

		function getColumnNumber() {
			var winWidth = $(window).width(),
			columnNumber = 1;

			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}

			function setColumns() {
				var winWidth = $(window).width(),
				columnNumber = getColumnNumber(),
				itemWidth = Math.floor(winWidth / columnNumber);

				$container.find('.portfolio-item').each(function() {
					$(this).css( {
					width : itemWidth + 'px'
				});
			});
		}

		function setPortfolio() {
			setColumns();
			$container.isotope('reLayout');
		}

		$container.imagesLoaded(function () {
			setPortfolio();
		});

		$(window).on('resize', function () {
		setPortfolio();
	});
})(jQuery);
</script>

  </body>
</html>
