<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Maradona Morais">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <link rel="icon" href="/assets/ico/favicon.ico" type="image/x-icon">

    <title>Termos e Condições de Uso - Atom Player</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">


    <script src="/assets/js/modernizr.js"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("878a0412acf91d7050ba0018a7fd81e3");
mixpanel.track("page view");</script>
    <!-- end Mixpanel -->
  </head>

  <body>

  <% include partials/header %>

	<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Termos e Condições de Uso</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->


	<!-- *****************************************************************************************************************
	 AGENCY ABOUT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
	 		<div class="col-lg-7">
		 		<p>Em vigor a partir de 26 de julho de 2016</p>
		 		<h4>INTRODUÇÃO</h4>
        <p class="text-justify">
          Ao se inscrever ou usar o serviço, sites, softwares e blogs mantidos e entendidos como Atom Player (“Atom”, “Atom Player” ou “Serviço”) e acessar materiais disponibilizados e regulados (“Material”) pelo Serviço, você estará celebrando um contrato vinculado à Neep42 (“Empresa”).
        </p>
        <p class="text-justify">
          Seu acordo com a Empresa na utilização do Serviço está baseado nos parâmetros dos inclusos dos Termos e Condições de Uso (“Termos”) e da Política de Privacidade da Empresa.
        </p>
        <p class="text-justify">
          Na utilização do serviço ou cadastramento de usuário você declara que leu e compreendeu os Termos aqui dispostos. Caso não concorde com os Termos você não poderá usar o Serviço ou acessar nenhum Material.
        </p>
        <p class="text-justify">
          Para usar o Atom Player você precisa ter 18 anos ou mais, ou ter 13 anos ou mais e ter o consentimento dos seus pais ou responsáveis. Você promete que quaisquer informações de cadastro que enviar para o Serviço são legitimas e verdadeiras.
        </p>
        <h4>ALTERAÇÕES NOS ACORDOS</h4>
        <p class="text-justify">
          Os Termos podem sofrer alterações, à critério da Empresa, com aviso prévio. Você será informado sobre (1) existência de novos Termos ou alterações dos Termos atuais, (2) prazo para que os novos Termos sejam aplicados e (3) início do vigor de novos Termos. Você terá acesso à alterações e novos Termos com antecedência de 30 dias em relação ao início do vigor dos Termos.
        </p>
        <h4>DIREITOS DO SERVIÇO</h4>
        <p class="text-justify">
          O Atom Player é propriedade exclusiva da Neep42, somente a Empresa possui a prerrogativa do uso e manipulação da imagem e marca do Serviço. Terceiros não podem se apropriar da imagem do Serviço, sem autorização expressa, para fins comerciais. O Material disponibilizado não é propriedade do Serviço ou da Empresa.
        </p>
        <p class="text-justify">
          A utilização do Material deve ser efetuada respeitando-se os Termos, a utilização indevida é responsabilidade integral daquele que a pratica, estando o Atom e a Empresa isentos das práticas aplicadas com o Material.
        </p>
        <h4>DIREITOS DO USUÁRIO</h4>
        <p class="text-justify">
          As informações fornecidas por você são registradas sob custódia da Empresa para utilização no Atom Player. Nenhum dado pessoal ou informações geradas pela interação com o Serviço são compartilhadas ou acessadas por terceiros.
Na ato de utilização do Serviço as suas informações são registradas em cookies no Serviço, o tempo limite para a vida destas informações é de 24 (vinte e quatro) horas.
        </p>
        <p class="text-justify">
          O Serviço não fornece integração com aplicativos terceiros. Todos dados são utilizados somente pelos produtos da Empresa, que são relacionados ao Serviço, estes produtos são assinados com a marca “Atom Player”.
        </p>
        <h4>MATERIAL</h4>
        <p class="text-justify">
          O Material disponível no Atom é inteiramente produzido por terceiros (“Produtor(es)”), a Empresa não se responsabiliza, em nenhuma ocasião, pelo o que é expresso no Material, visto que são de inteira responsabilidade e custódia dos Produtores do mesmo.
        </p>
        <p class="text-justify">
          Se você sentir que algum Material disponibilizado no Atom viola seus direitos de imagem, intelectuais, autorais ou morais através de difamação ou calúnia, sinta-se à vontade para notificar o Serviço através de denúncia. As denúncias encaminhadas serão analisadas e o Material pode ser suspenso por um período de um mês ou, se reincidir, por tempo indeterminado.
        </p>
        <p class="text-justify">
          Se você constatar que algum Material disponibilizado no Atom externa opiniões que possam ser entendidas como ameaça à uma ou mais pessoas, racismo, preconceito religioso, homofobia, terrorismo, feminicídio ou incentivo à cultura do estupro e variantes, sinta-se à vontade para notificar o Serviço através de denúncia. Se analisada como pertinente, a denúncia desencadeará a suspensão vitalícia do Material. Esta suspensão pode ser revogada caso o Produtor retire o conteúdo notificado e aceite concordar com a não reincidência de produção de conteúdos iguais ou análogos.
        </p>
        <h4>DIREITOS DO PRODUTOR</h4>
        <p class="text-justify">
          Atom disponibiliza o Material considerando o consentimento generalizados dos Produtores de que o Material é objeto que deve ser difundido na internet e de forma gratuita, resguardando os direitos autorais e intelectuais do Produtor de conteúdo.
        </p>
        <p class="text-justify">
          Se você é Produtor, não concorda com a sentença anterior, e não deseja que seu conteúdo seja disponibilizado gratuitamente no Serviço, entre em contato com a Empresa através dos canais de contato difundidos. O Material notificado por Produtores serão retirados do Serviço se o notificador for legitimamente o próprio Produtor.
        </p>
        <p>
          Agradecemos pela leitura dos nossos Termos.
        </p>
        <p>
          Entidade contratante:<br>
          NEEP42<br>
          Sem registro de Pessoa Jurídica
        </p>
        <p>
          Respondida por:<br>
          FRANCISCO MARADONA DE FREITAS MORAIS<br>
          Rua da Saúde, 189. Ap. 105. Lagoa Seca, Apodi.<br>
          Brasil.<br><br>
          mr@atomplayer.com.br
        </p>
	 		</div>
	 	</div>
	 </div>

	<% include partials/footer %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/retina-1.1.0.js"></script>
	<script src="/assets/js/jquery.hoverdir.js"></script>
	<script src="/assets/js/jquery.hoverex.min.js"></script>
	<script src="/assets/js/jquery.prettyPhoto.js"></script>
  	<script src="/assets/js/jquery.isotope.min.js"></script>
  	<script src="/assets/js/custom.js"></script>


  </body>
</html>
