<div id="preferences">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
			  <h3>Preferências</h3>
			</div>
      <div class="row">

        <div class="col-md-12">
          <p>Selecione as suas categorias favoritas</p>
          <form name="categories">
            <div class="row">
              <div class="form-group">
                <div class="searchable-container">
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">
                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Arte</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Negócios</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Comédia</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Educação</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Jogos</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Governo</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Saúde</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Música</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Notícias</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Religião</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Ciência</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Sociedade</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Esportes</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->
                    <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                        <div class="info-block block-info clearfix">

                            <div data-toggle="buttons" class="btn-group bizmoduleselect">
                                <label class="btn btn-default">
                                    <div class="bizcontent">
                                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" class="hide">
                                        <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                        <h5>Tecnologia</h5>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div><!--.items-->

                </div><!--.searchable-container-->
              </div><!--.form-group-->

            </div><!--.row-->
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
