<div id="preferences">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
			  <h3>Configurações</h3>
			</div>
      <div class="col-md-12">
        <div class="list-group panel">
          <a href="#demo3" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu">Nome <b>Maradona Morais</b></a>
          <div class="collapse" id="demo3">
            <div class="subitem-settings">
              <p>
                Você não pode alterar seu nome, sua conta é associada ao <i>Facebook</i>
              </p>
            </div>
          </div>
          <a href="#demo4" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu">Contato <b>maradona.morais@hotmail.com</b></a>
          <div class="collapse" id="demo4">
            <div class="subitem-settings">
              <p>
                Você não pode alterar seu email, sua conta é associada ao <i>Facebook</i>
              </p>
            </div>
          </div>
          <a href="#demo5" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu">Senha</a>
          <div class="collapse" id="demo5">
            <div class="subitem-settings">
              <p>
                Você não pode alterar sua senha, sua conta é associada ao <i>Facebook</i>
              </p>
            </div>
          </div>
          <a href="#demo6" class="list-group-item list-group-item-warning" data-toggle="collapse" data-parent="#MainMenu">Deletar conta</a>
          <div class="collapse" id="demo6">
            <div class="subitem-settings">
              <p>
                Se optar por apagar sua conta <b>todas</b> suas informações e interações com o Atom Player serão apagadas do nosso banco de dados.<br>
                <a href="#" class="btn btn-danger">Estou ciente, deletar conta</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
